html, body{
    padding: 0;
    margin: 0;
    display:flex;
    flex-flow: column wrap;
    font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
}
.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}
.slider{
    width:100%;
}
.slide{
    width:100vw;
    margin: auto;
}
.imgandctrl{
    padding: 10% 0;
    display:flex;
    flex-flow: column wrap;
    background-image: url("../images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width:100vw;
}
#nav-btns{
    display:inline-flex;
    position: relative;
    left: 150px; top: -15px;
    background-color: #F4F4F4;
    width: 20%;
    padding: 1%;
    border-radius: 25px;
    z-index: 10000;
}
.button{
    margin: auto;
    padding: 1% 5%;
    text-decoration: none;
    text-emphasis: none;
    text-decoration-style: none;
}
img{
    margin:auto;
    width: 75%;
    box-shadow: 0 10px 15px #ccc;

}
.quote{
    padding: 0 1%;
    margin: 0 5%;
    background-image: url("../images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
}
.tag{
    position:fixed;
    bottom: 80px; left: 50px;
}


@media only screen and (min-width: 600px) {
    html,body{
        background-image: none;
    }
    .slider{
        width:80%;
        margin:auto;
    }
    .slide{
        width: 100%;
        margin: auto;
        display: flex;
        z-index: -1000;
        flex-flow: row nowrap;
        box-shadow: #ccc -5px 10px 20px;
        background-image: url("../images/pattern-curve.svg"),
                          url("../images/pattern-quotes.svg");
        background-repeat: no-repeat;
        background-position: bottom left, 15% 25%;
        background-size: 50%, 15%;
    }
    .synopsis{
        order:1;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .quote{
        background-image: none;
        position: relative;
        left: 100px;
        font-size: 18pt;
    }
    .tag{
        position:relative;
        top: 125px;
        right: 0px; 
        bottom: 0px; 
        left: 50px;
    }
    .imgandctrl{
        order:2;
        flex-grow:5;
        width:80%;
        position: relative;
        right: 5%;
        z-index: -1;
        background-image: url("../images/pattern-bg.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center right;
    }
    #nav-btns{
        display:flex;
        flex-direction: row;
        position: relative;
        background-color: #F4F4F4;
        width: 20%;
        padding: 1%;
        border-radius: 25px;
    }

}

